<div class="container">
    <h1>Home Page</h1>

    <h2>{{homeController.home.id}}</h2>

    <p>{{homeController.home.content}}</p>

    <div>
        <button class="btn btn-danger" id="newPlaylistButton" ng-click="homeController.newPlaylist()">create new playlist</button>
    </div>

</div>

