<div class="container">
    <form role="form" ng-submit="login()" class="form-horizontal">
    <!--<form role="form" method="post" action="/j_spring_security_check" class="form-horizontal">-->
        <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
                <label for="j_username" class="col-lg-2 control-label">Username</label>

                <div class="col-lg-10">
                    <input type="text"
                           class="form-control"
                           id="j_username"
                           name="j_username"
                           placeholder="Username"
                           ng-model="credentials.username">
                </div>
            </div>
            <div class="form-group">
                <label for="j_password" class="col-lg-2 control-label">Password</label>

                <div class="col-lg-10">
                    <input type="password"
                           class="form-control"
                           id="j_password"
                           name="j_password"
                           placeholder="Password"
                           ng-model="credentials.password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div> 