<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div>YEA PLAYLIST ID: {{playlistController.urlId}}</div>
        </div>

        <div class="col-lg-8">
            <youtube-video video-id="playlistController.firstPlayer.videoId"
                           player="playlistController.firstPlayer.player"></youtube-video>
            <youtube-video video-id="playlistController.secondPlayer.videoId"
                           player="playlistController.secondPlayer.player"></youtube-video>
        </div>

        <div class="col-lg-4">
            <div id="suggestedContainer" style="background: #ac2925; height: 800px; width: 100%"></div>
            <button ng-click="playlistController.nextSong()">Next Song</button>
        </div>
    </div>
</div>